* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header.abs-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.logo {
  max-width: 109px;
}

.col-3 {
  max-width: 30%;
}
.col-9 {
  max-width: 60%;
  margin-right: 170px;
}
.align-item-end {
  display: flex;
  align-items: flex-end;
}
.menu-nav {
  list-style-type: none;
}

a {
  display: block;
  color: #263a41;
  font-weight: 550;
  font-size: 17px;
  text-decoration: none;
}
p {
  color: #6c6c6f;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-top: 40px;
  margin-bottom: 50px;
}

h4 {
  color: #263a41;
  font-size: 22px;
}

/* Body */
body {
  color: #6c6c6f;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
}

h3 {
  display: block;
  font-family: "Rufina", serif;
  font-weight: 700;
}

/* banner */
.banner {
  padding-top: 15%;
  background: url(../img/backgoundbanner.png) no-repeat left center/12.5%;
  padding: 12% 0;
}
.img-banner {
  width: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.banner-content {
  line-height: 50px;
}
.banner-content span {
  color: #ff817e;
  margin-bottom: 20px;
  font-size: 19px;
  word-spacing: 5px;
}
.header-banner {
  font-size: 59px;
  line-height: 60px;
  color: #1e2528;
}

.button-banner {
  min-width: 170px;
  background-color: #ff817e;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/* section-1-about */

.section {
  display: block;
  position: relative;
  width: 100%;
}
.section-1 .flower-1 {
  left: 16%;
  top: 670px;
  max-width: 160px;
}

.section-1 .flower-2 {
  right: 150px;
  top: 1000px;
  max-width: 88px;
}

.section-1 [class|="flower"] {
  position: absolute;
}
.sec-1-heading {
  margin-bottom: 30px;
}
.col-12 {
  padding: 0 180px;
}
.para-sec-1 {
  text-align: center;
  margin-bottom: 30px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.logo-sec-1 {
  width: 130px;
  margin-bottom: 30px;
}

.text-logo-sec-1 {
  color: #888;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.title-sec-1 {
  font-size: 42px;
  font-weight: 700;
  color: #1e2528;
  margin-bottom: 27px;
}

.bt {
  background-color: #ff817e;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 35px;
}
.bt-around {
  border-radius: 50px;
}

/* SERVICES */
.photo-services-spa {
  padding: 120px 0;
}
.mr--20 {
  margin-right: -20px;
}
.ml--20 {
  margin-left: -20px;
}

/* procedures */

.sec-heading {
  color: #1e2528;
  font-size: 44px;
  margin: 33px 0;
  line-height: 2;
}

.col-lg-8 p {
  font-size: 18px;
  color: #888;
}
.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  text-align: center;
}
.m-auto {
  margin: auto !important;
}
.mt-20 {
  margin-top: 20px;
}

.col-mw-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.article-post {
  border: 1px solid #e3e6ea;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.article-post p {
  color: 6c6c6f;
}

h4 a {
  color: #263a41;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 30px;
}
.article-post .bt {
  background-color: #30383b;
}

/* infor-clients */
.ex-test {
  background-color: #fff9f8;
  margin-top: 50px;
}

.ex-test-content p {
  color: #263a41;
  font-family: "Rufina", serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 43px;
}

.thumbnail-client {
  border-radius: 50%;
  margin-bottom: 22px;
  height: 82px;
  width: 82px;
}

.info-client-test p {
  font-size: 26px;
  color: #263a41;
  font-family: "Rufina", serif;
  font-weight: 400;
  line-height: 35px;
}
.info-client-test p span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: #263a41;
}

/* experienced team */
.ex-team .item-member {
  position: relative;
}
.team-sec-heading {
  text-align: center;
}
.detail-member {
  max-width: calc(100% - 60px);
  padding: 30px 20px;
  box-shadow: 0 5px 20px #f0f0f0;
  background-color: #fff;
  margin: -60px auto 0;
  position: relative;
}
.detail-member h5 {
  font-family: "Rufina", serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 26px;
  color: 263a41;
}
.detail-member span {
  font-size: 17px;
}

/* apointment-form  */
.apointment {
  margin: 40px 0;
}
.apointment-form {
  background-color: #fff9f8;
  flex-basis: 100%;
  padding: 30px 15px;
}
.apointment-form form {
  max-width: 650px;
  margin: 0 auto;
}
.hafl-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-field input {
  width: 49%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.apointment-form button {
  border: none;
  margin-top: 20px;
}
.apointment-form .form-field textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  text-transform: uppercase;
  width: 100%;
}
.apointment-form .form-field select {
  appearance: none;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 0;
  width: 318.5px;
}
select,
input {
  font-family: inherit;
  line-height: inherit;
}

/* contact section */

.address p {
  margin-top: 0;
  margin-left: 30px;
}
.email p {
  margin-top: 0;
  margin-left: 30px;
}
.phone-number p {
  margin-top: 0;
  margin-left: 30px;
}

.contact-form {
  flex-direction: column;
}
.contact-form input {
  border: 1px solid #e3e6ea;
  display: block;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.contact-form textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: auto;
  border: 1px solid #e3e6ea;
  display: block;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 100%;
}
.contact-form button {
  border: none;
  text-align: none;
}

/* footer */
.footer {
  background-color: #fff9f8;
  padding: 80px 0 60px;
}
.nav-footer {
  list-style: none;
}
.nav-footer li {
  display: inline-block;
  margin: 40px 20px;
}
.copyright {
  color: #888;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.copyright a {
  margin: 0 5px;
  color: #ff817e;
}
