* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
li {
  list-style: none;
  display: block;
}

/* Header */

.header {
  padding: 35px;
  background-color: white;
}

.logo {
  width: 200px;
}
.logo-wrapper {
  margin: 30px;
}
.menu {
  width: 500px;
}
.menu-item {
  display: flex;
  list-style-type: none;
}
.menu-link {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-style: initial;
  font-weight: 500px;
}
.active {
  color: gray;
}
/* main */
.item {
  width: 235px;
  height: 157px;
  margin-bottom: 20px;
  overflow: hidden;
  object-fit: cover;
}
/* footer */
.icon {
  width: 24px;
}
.mrt {
  margin-top: 20px;
}
.mrb {
  margin-bottom: 30px;
}
p {
  margin-bottom: 30px;
}
.para-footer a {
  text-decoration: none;
  margin-top: 20px;
  color: black;
}
